# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
.env

# Distribution / Packaging
build/
dist/
*.egg-info/

# Pygame / Pygbag
build/web/

# OS specific
.DS_Store
Thumbs.db